
dist: bionic

branches:
  only:
  - master
  # Release branches
  - /^[0-9]+\.[0-9]+\.[0-9]+$/

os:
  - linux

language: python

cache:
  pip: true

compiler:
  - clang
  - gcc

addons:
  apt:
    #update: true
    packages:
    - build-essential
    - bison
    - nasm
    - yasm
    - libboost-all-dev
  homebrew:
    packages:
      - boost
      - boost-python

# most problematic at first places
jobs:
  include:
  - name: Python 2.7 on Linux
    python: 2.7
    env: NAME='Python 2.7 on Linux'
  - name: Python 3.4 on Linux
    dist: xenial
    python: 3.4
    env: NAME='Python 3.4 on Linux'
  - name: Python 3.7 on Windows
    # https://docs.travis-ci.com/user/reference/windows/
    # https://github.com/cclauss/Travis-CI-Python-on-three-OSes
    os: windows
    language: shell
    env:
      - PATH=/c/Python37:/c/Python37/Scripts:$PATH
      - PYTHON_VER=3.7.2
      - NAME='Python 3.7 on Windows'
    cache:
      directories:
        - $HOME/AppData/Local/Temp/chocolatey
  - name: Python 2.7 on macOS
    os: osx
    language: shell
    env:
      - PYENV_VERSION=2.7.17
      - NAME='Python 2.7 on macOS'
  #- name: Python 3.4 on macOS
  #  os: osx
  #  language: shell
  #  env:
  #    - PYENV_VERSION=3.4.9
  #    - NAME='Python 3.4 on macOS'
  - name: PyPy (with python 3.5) on Linux
    # https://docs.travis-ci.com/user/languages/python/#pypy-support
    # https://travis-ci.community/t/confusing-pypy-versions/2505
    # https://travis-ci.community/t/pypy-2-7-on-xenial/889
    dist: xenial
    python: pypy3.5
    env: NAME='PyPy (with python 3.5) on Linux'

########################################################
  #- name: Python 3.5 on Linux
  #  dist: xenial
  #  python: 3.5
  #  env: NAME='Python 3.5 on Linux'
  - name: Python 3.6 on Linux
    python: 3.6
    env: NAME='Python 3.6 on Linux'
  - name: Python 3.7 on Linux
    python: 3.7
    env: NAME='Python 3.7 on Linux'
  - name: Python 3.8 on Linux
    python: 3.8
    env: NAME='Python 3.8 on Linux'
  - name: Python 3.5 on macOS
    os: osx
    language: shell
    env:
      - PYENV_VERSION=3.5.8
      - NAME='Python 3.5 on macOS'
  #- name: Python 3.6 on macOS
  #  os: osx
  #  language: shell
  #  env:
  #    - PYENV_VERSION=3.6.9
  #    - NAME='Python 3.6 on macOS'
  - name: Python 3.7 on macOS
    os: osx
    osx_image: xcode11
    language: shell
    env:
      - PYENV_VERSION=3.7.4
      - NAME='Python 3.7 on macOS'

before_install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
      # by default choco installs last version of python
      choco install python --version $PYTHON_VER
      choco install boost-msvc-14.1
    elif [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      #set -ex
      #pip3 install --upgrade pip
      #eval "$(pyenv init -)"
      export PATH="$(pyenv root)/shims:${PATH}"
      #pyenv install --list
      #CFLAGS="-I$(brew --prefix openssl)/include" \
      #LDFLAGS="-L$(brew --prefix openssl)/lib" \
      pyenv install -s $PYENV_VERSION
      #pyenv versions
      # A manual check that the correct version of Python is running.
      python --version
      #set +ex
    fi

install:
  - |
      #python -m pip install --upgrade pip
      python -m pip install pyyaml
      python -m pip install pytest
      python -m pip install pytest-cov
      python -m pip install pytest-mock
      python -m pip install coveralls

script:
  - |
    python -m pytest --cov zm tests -v -k "not zipapp" --maxfail=2
    RESULT=$?
    if [[ $RESULT -eq 0 ]]; then
      python -m pytest tests -v -k "zipapp" --maxfail=2
    else
      exit $RESULT
    fi

after_success:
  - COVERALLS_PARALLEL=true python -m coveralls

notifications:
  webhooks: https://coveralls.io/webhook
  email:
    on_success: always # default: change
    on_failure: always # default: always
